<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{!-- BootStrap --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container text-center">
    <div class="mt-5 text-primary">
      <h1>URL-Shortener</h1>
    </div>
    <div class="my-5">
      <img src="/images/url-image.png" alt="url-picture" />
    </div>
    {{{body}}}
  </div>

  {{!-- BootStrap --}}
  <script src="/javascripts/bootstrap.bundle.js"></script>
</body>

</html>