<form class="row d-flex justify-content-center" action="/" method="POST" >
  <div class="col-6">
    <input type="URL" id="originalUrl" name="inputUrl" class="form-control"
      placeholder="Copy URL here" required>
  </div>
  <div class="col-12 mt-3">
    <button type="submit" class="btn btn-primary" style="width: 100px;">Shorten</button>
  </div>
</form>

