  <div class="row d-flex justify-content-center">
      <div class="col-7">
        <h5 class="mt-5">Shorten link:</h5>
        <p class="text-primary">http://localhost:{{port}}/{{generateRandom}}</p>
      </div>
      <div class="col-2 d-flex align-items-center">
        <button type="submit" class="btn btn-primary" style="width: 100px;">Copy</button>
      </div>
      <div class="col-2 d-flex align-items-center">
        <a class="text-secondary" href="/">Back</a>
      </div>
  </div>
